{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login to Gap Bezan</title>
    <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <style>
        {% static "css/login.css" %}
    </style>
</head>

<body>
    <div class="login-container">
        <h2>Change Password</h2>
        <form method="POST" action="">
            {% csrf_token %}
            <input type="passwrod" name="oldpassword" placeholder="Old password" required />
            <input type="password" name="new_password" placeholder="Password" required />
            <input type="password" name="new_password2" placeholder="Password" required />

            {% for message in messages %}
                <h5>{{ message }}</h5>
            {% endfor %}
            <button type="submit">Submit</button>
        </form>

        <div class="note"> <a href="{% url 'home' %}">Home</a></div>
    </div>
</body>

</html>
 